.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.header {
  color: white;
  font-weight: bold;
}

.background_header {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(DodgerBlue, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(DodgerBlue, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(DodgerBlue, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(DodgerBlue, white);
  /* Standard syntax */
  padding-top: 5px;
  padding-bottom: 5px;
}

.container1 {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 15px;
  padding-right: 15px;
}

.links {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0px;
}

ul > .floatLeft {
  float: left;
}

.space {
  padding-right: 15px;
}

.padding {
  padding: 15px;
}

.paddingTop {
  padding-top: 150px;
}

.paddingBottom {
  padding-bottom: 15px;
}

.marginTop {
  margin-top: 30px;
}

.margin-left {
  margin-left: 50px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.companyColor {
  color: DodgerBlue;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  line-height: 150px;
  text-align: center;
  background-color: DodgerBlue;
  transition: background-color 2000ms;
}

.carousel-inner {
  height: 450px;
}

.arrow {
  width: 200px;
  display: block;
}

.background-lightblue {
  background-color: Azure;
}

.borderCurve {
  border-radius: 15px 15px 0% 0%;
}

.greyfont {
  font-weight: bold;
  padding-left: 20px;
  color: grey;
}

.border {
  border: 1px solid grey;
}

.textWrap {
  word-wrap: break-word;
}

.background-skyblue {
  background-color: deepskyblue;
  border-radius: 15px;
  height: 200px;
  color: white;
}

.textAlign {
  text-align: center;
}

.grey {
  background-color: #F4D00C;
}

.colordarkblue {
  color: #004C70;
}

.background_footer {
  background-color: #006495;
}

/* This is for About Us Page*/
.mainHeading {
  color: grey;
  font-family: sans-serif;
  font-weight: bold;
}

.marginBottom {
  margin-bottom: 50px;
}

.hide1 {
  display: none;
}

.permhide {
  display: none;
}

.red {
  color: red;
}
.width1 {
	width: 400px;
}


@media screen and (max-width: 1400px) {
  .container1 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .hideA {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .margin-left {
    margin-left: 30px;
  }
  .fontSize {
    font-size: 20px;
  }
  /*This is for About Us page*/
  .marginBottom {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .margin-left {
    margin-left: 0px;
  }
  .margingSpacing {
    margin-top: 20px;
  }
  .fontSize {
    font-size: 15px;
  }
  .slideImg {
    width: 400px;
    height: auto;
    padding-top: 80px;
  }
  .paddingTop {
    padding-top: 150px;
  }
  .slidePullupImg {
    width: 120px;
    height: auto;
    padding-top: 80px;
  }
  /*This is for About Us page*/
  .marginBottom {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 500px) {
  .circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .fontSize {
    font-size: 15px;
  }
  .slideImg {
    width: 250px;
    height: auto;
    padding-top: 90px;
  }
  .paddingTop {
    padding-top: 150px;
  }
  /*This is for About Us page*/
  .marginBottom {
    margin-bottom: 250px;
  }
}
